.idea
.vscode
dist/
node_modules/
*egg-info/
*docs.go
deployments/helm/charts/
target/
ld-preload/
.DS_Store
.vscode
*.iml
venv/
*.pyc
settings.json
tensor-compliance-check/

## Frontend related ignores

cmd/console/frontend/src/pages/.umi
cmd/data/tool/cleaner/dump_test/
cmd/data/tool/main/tensor-cleaner
main
*.exe
cmd/console/api/testCaptcha.png
/bin/
/deployments/helm/requirements.lock
cmd/console/service/captcha/testCaptcha.png
cmd/kube-scanner-report/khv_detail.json
benchmark/mock-httpserver/mock-httpserver
tool/db/db-tool
tool/migrate/migration-tool
