[submodule "configs/scap/jobs/docker-bench-security"]
	path = configs/scap/jobs/docker-bench-security
	url = git@gitlab.com:tensorsecurity-rd/docker-bench-security.git
	branch = forkmaster
[submodule "configs/scap/jobs/kube-bench"]
	path = configs/scap/jobs/kube-bench
	url = git@gitlab.com:tensorsecurity-rd/kube-bench.git
	branch = forkmaster
[submodule "configs/scap/jobs/host-bench/xccdfparser"]
	path = configs/scap/jobs/host-bench/xccdfparser
	url = git@gitlab.com:tensorsecurity-rd/xccdfparser.git
[submodule "configs/tensordig/bcc"]
	path = configs/tensordig/bcc
	url = git@gitlab.com:tensorsecurity-rd/bcc.git
	branch = tensordig
[submodule "configs/tensordig/gobpf"]
	path = configs/tensordig/gobpf
	url = git@gitlab.com:tensorsecurity-rd/gobpf.git
	branch = tensordig
[submodule "cmd/go-audit"]
	path = cmd/go-audit
	url = git@gitlab.com:tensorsecurity-rd/go-audit.git
	branch = tensorsec
