[submodule "configs/scap/jobs/docker-bench-security"]
	path = configs/scap/jobs/docker-bench-security
	url = ssh://git@scm.tensorsecurity.cn:30022/tensorsecurity-rd/docker-bench-security.git
	branch = forkmaster
[submodule "configs/scap/jobs/kube-bench"]
	path = configs/scap/jobs/kube-bench
	url = ssh://git@scm.tensorsecurity.cn:30022/tensorsecurity-rd/kube-bench.git
	branch = forkmaster
[submodule "configs/scap/jobs/host-bench/xccdfparser"]
	path = configs/scap/jobs/host-bench/xccdfparser
	url = ssh://git@scm.tensorsecurity.cn:30022/tensorsecurity-rd/xccdfparser.git
[submodule "configs/tensordig/bcc"]
	path = configs/tensordig/bcc
	url = ssh://git@scm.tensorsecurity.cn:30022/tensorsecurity-rd/bcc.git
	branch = tensordig
[submodule "configs/tensordig/gobpf"]
	path = configs/tensordig/gobpf
	url = ssh://git@scm.tensorsecurity.cn:30022/tensorsecurity-rd/gobpf.git
	branch = tensordig
[submodule "configs/daemon/netlink"]
	path = configs/daemon/netlink
	url = ssh://git@scm.tensorsecurity.cn:30022/tensorsecurity-rd/netlink.git
        branch = tensorsec
