.idea
dist/
node_modules/
*egg-info/
*docs.go
charts/
target/
ld-preload/
.DS_Store

## Frontend related ignores

cmd/console/frontend/src/pages/.umi
cmd/data/tool/cleaner/dump_test/
cmd/data/tool/main/tensor-cleaner
