.idea
dist/
node_modules/
*egg-info/
*docs.go
charts/
target/
ld-preload/
.DS_Store
.vscode
*.iml
venv/
*.pyc
settings.json

## Frontend related ignores

cmd/console/frontend/src/pages/.umi
cmd/data/tool/cleaner/dump_test/
cmd/data/tool/main/tensor-cleaner
main
*.exe
cmd/console/api/testCaptcha.png
